<h1>@ signinpage </h1>
<form action="/user/create-session" method="GET"> 
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="Submit" value="sign in">
</form>